/* fonts */
/* navbar */
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../font/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../font/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("../font/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../font/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-ExtraBold";
  src: url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot");
  src: url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff2") format("woff2"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff") format("woff"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../font/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../font/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Light/ProximaNova-Light.woff2") format("woff2"), url("../font/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../font/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../font/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../font/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("../font/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../font/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.text-danger {
  color: #e74c3c;
  text-align: left;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* -------------------------------------------- */
/* S E C T I O N    N A V B A R    S T Y L E S  */
/* -------------------------------------------- */
.navbar {
  -webkit-box-shadow: 0 0 10px 10px #fff;
          box-shadow: 0 0 10px 10px #fff;
}
.navbar__item {
  padding: 42px 35px;
}
.navbar__link {
  font: 700 16px/18px "Leto Sans", sans-serif;
  color: #282828;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar__link:hover, .navbar__link:focus {
  color: #b01641;
  text-decoration: none;
}
.navbar__toggle {
  margin-top: 23px;
  padding: 20px 34px;
  background-color: #b4243b;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  font: 700 16px/18px sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar__toggle:hover, .navbar__toggle:focus {
  color: #fff;
  text-decoration: none;
}

/* ---------------------------------------- */
/* S L I D E R    S T Y L E S               */
/* ---------------------------------------- */
.slider__item {
  padding: 40px 0 20px;
}
.slider__item--1 {
  background: url(../img/sliderbg1-320.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
.slider__heading {
  color: #fff;
  font: 400 29px/36px "ProximaNova-Bold", sans-serif;
  margin: 0 0 25px;
}
.slider__subheading {
  color: #fff;
  font: 400 12px/14px sans-serif;
  margin-bottom: 20px;
}
.slider__btn {
  color: #fff;
  font: 700 13px/14px sans-serif;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 15px 16px;
}
.slider__btn:hover, .slider__btn:focus, .slider__btn:visited {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .collapse--display {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;
  }
}
@media only screen and (min-width: 768px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__item {
    padding: 80px 0 40px;
  }
  .slider__item--1 {
    background: url(../img/sliderbg1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
  .slider__heading {
    font: 400 47px/54px "ProximaNova-Bold", sans-serif;
    margin-bottom: 35px;
  }
  .slider__subheading {
    font: 400 14px/20px sans-serif;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 960px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__heading {
    font: 400 60px/66px "ProximaNova-Bold", sans-serif;
  }
  .slider__subheading {
    font: 400 14px/26px sans-serif;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__heading {
    font: 400 69px/72px "ProximaNova-Bold", sans-serif;
  }
  .slider__subheading {
    font: 400 17px/26px sans-serif;
    margin-bottom: 90px;
  }
}
