@charset "UTF-8";
/* fonts */
/* navbar */
/* layer */
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* S L I C K    S L I D E R    S T Y L E    */
/* ---------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* -------------------------------------------------- */
/* S L I C K - S L I D E R    T H E M E    S T Y L E  */
/* -------------------------------------------------- */
.slick-loading .slick-list {
  background: #fff url('../img/ajax-loader.gif?1482499946') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../../fonts/slick.eot');
  src: url('../../fonts/slick.eot?#iefix') format("embedded-opentype"), url('../../fonts/slick.woff') format("woff"), url('../../fonts/slick.ttf') format("truetype"), url('../../fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../font/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../font/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("../font/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../font/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-ExtraBold";
  src: url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot");
  src: url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff2") format("woff2"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff") format("woff"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../font/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../font/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Light/ProximaNova-Light.woff2") format("woff2"), url("../font/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../font/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../font/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../font/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("../font/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../font/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerMedium";
  src: url("../font/MullerMedium/MullerMedium.eot");
  src: url("../font/MullerMedium/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../font/MullerMedium/MullerMedium.woff2") format("woff2"), url("../font/MullerMedium/MullerMedium.woff") format("woff"), url("../font/MullerMedium/MullerMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerExtraBold";
  src: url("../font/MullerExtraBold/MullerExtraBold.eot");
  src: url("../font/MullerExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/MullerExtraBold/MullerExtraBold.woff2") format("woff2"), url("../font/MullerExtraBold/MullerExtraBold.woff") format("woff"), url("../font/MullerExtraBold/MullerExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadProBold";
  src: url("../font/MyriadProBold/MyriadProBold.eot");
  src: url("../font/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProBold/MyriadProBold.woff2") format("woff2"), url("../font/MyriadProBold/MyriadProBold.woff") format("woff"), url("../font/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../font/MyriadProRegular/MyriadProRegular.eot");
  src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../font/MyriadProRegular/MyriadProRegular.woff2") format("woff2"), url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.text-danger {
  color: #e74c3c;
  text-align: left;
}

.btn-bank {
  background-color: #b4243b;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-bank:hover, .btn-bank:focus {
  color: #fff;
  text-decoration: none;
}

.ic--dropdown-btn:before {
  width: 26px;
  height: 27px;
  background: url('../img/icons-s133bee3d33.png') 0 0 no-repeat;
}

.ic--exchange:before {
  width: 60px;
  height: 77px;
  background: url('../img/icons-s133bee3d33.png') 0 -162px no-repeat;
}

.ic--credit:before {
  width: 85px;
  height: 71px;
  background: url('../img/icons-s133bee3d33.png') 0 -91px no-repeat;
}

.ic--insurance:before {
  width: 72px;
  height: 84px;
  background: url('../img/icons-s133bee3d33.png') 0 -322px no-repeat;
}

.ic--transfer:before {
  width: 85px;
  height: 85px;
  background: url('../img/icons-s133bee3d33.png') 0 -406px no-repeat;
}

.ic--currency:before {
  width: 77px;
  height: 83px;
  background: url('../img/icons-s133bee3d33.png') 0 -239px no-repeat;
}

.ic--bill:before {
  width: 77px;
  height: 86px;
  background: url('../img/icons-s133bee3d33.png') 0 -491px no-repeat;
}

.ic--extra:before {
  width: 71px;
  height: 64px;
  background: url('../img/icons-s133bee3d33.png') 0 -27px no-repeat;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* -------------------------------------------- */
/* S E C T I O N    N A V B A R    S T Y L E S  */
/* -------------------------------------------- */
.navbar {
  border: 0 none;
  -webkit-box-shadow: 20px 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 20px 0 50px rgba(0, 0, 0, 0.08);
  margin-bottom: 0;
}
.navbar__container {
  padding-left: 0;
  padding-right: 0;
}
.navbar__item {
  text-align: center;
}
.navbar__link {
  display: inline-block;
  color: #282828;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar__link:hover, .navbar__link:focus {
  color: #b01641;
  text-decoration: none;
}
.navbar-toggle {
  margin: 0;
  padding: 29px;
  background-color: #fff;
  border: 0 none;
  -webkit-border-radius: 0;
          border-radius: 0;
}
.navbar-toggle__icon-bar {
  width: 21px;
  height: 3px;
  background-color: #282828;
}
.navbar-toggle__icon-bar--middle {
  background-color: #b01641;
}

.logo {
  position: relative;
  display: block;
  width: 160px;
  height: 73px;
  background: transparent url(../img/logo/m.logo.jpg) no-repeat scroll 0 0;
  background-size: contain;
  text-align: center;
}
.logo__descr {
  position: absolute;
  display: inline-block;
  margin-top: 55px;
  top: 0;
  left: 0;
  right: 0;
  font: 500 6px/8px "Geometria", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.caret {
  border-top: 7px dashed;
  border-top: 7px solid \9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* ---------------------------------------- */
/* S E R V I C E    S T Y L E S             */
/* ---------------------------------------- */
.service__heading {
  padding: 20px 0 15px;
  -webkit-box-shadow: 0 2px 2px rgba(41, 41, 41, 0.12);
          box-shadow: 0 2px 2px rgba(41, 41, 41, 0.12);
  background-color: #fff;
  margin-bottom: 20px;
}
.service__title {
  margin: 0;
  color: #ac183c;
  font: 400 26px/30px "MullerExtraBold", sans-serif;
}

.rss {
  padding-top: 5px;
}
.rss__link {
  color: #ac183c;
}
.rss__icon {
  margin-right: 10px;
}
.rss__text {
  text-decoration: underline;
  font: 400 18px/20px "MullerMedium", sans-serif;
}

.currency {
  margin: 5px 0;
  height: 100%;
  -webkit-box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
}
.currency__heading {
  padding: 20px 20px 0;
  margin-bottom: 10px !important;
  background-color: #fff;
}
.currency__title {
  margin: 0 0 10px;
  color: #ac183c;
  font: 400 26px/30px "MullerExtraBold", sans-serif;
  text-decoration: underline;
}
.currency__tabs {
  border: 0;
}
.currency__link {
  color: #ac183c;
  margin: 0 !important;
  border-bottom: 1px dashed #ac183c !important;
  padding: 0 !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
}
.currency__link:hover, .currency__link:focus, .currency__link:visited {
  color: #282828;
  text-decoration: none;
}
.currency__item {
  margin-right: 10px;
  position: relative;
}
.currency__item.active .currency__link {
  color: #282828;
  border: 0 !important;
  padding: 0 !important;
}
.currency__item.active:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -10px;
  background-color: #ac183c;
}
.currency__content {
  padding: 20px 10px 0 20px;
}

/* ---------------------------------------- */
/* F O O T E R    S T Y L E S               */
/* ---------------------------------------- */
.footer {
  margin-top: 30px;
  padding: 30px 0 0;
  background-color: #e2e2e2;
}
.footer__heading {
  color: #b01641;
  text-transform: uppercase;
  font: 700 12px/14px "Leto Sans", sans-serif;
  margin: 0 0 20px;
}
.footer__list {
  padding: 0;
  margin-bottom: 25px;
}
.footer__item {
  list-style-type: none;
  font: 400 12px/14px "Leto Sans", sans-serif;
}
.footer__link {
  color: #282828;
}
.footer__link:hover, .footer__link:focus, .footer__link:visited {
  color: #282828;
  text-decoration: none;
}
.footer__link:hover {
  color: #b01641;
}

.copyright {
  padding: 25px 0;
  background: url(../img/copyrightbg.jpg) repeat;
}
.copyright__text {
  color: #fff;
  font: 400 14px/16px "MyriadProRegular", sans-serif;
}
.copyright__link {
  color: #fff;
}
.copyright__link:hover {
  color: #b01641;
}
.copyright__link:hover, .copyright__link:visited, .copyright__link:focus {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .nav--1 {
    padding: 20px 0;
  }

  .navbar-nav {
    margin: 0;
  }

  .dropdown__toggle {
    background-color: #f6f6f6;
  }
  .dropdown__toggle-btn {
    width: 80px;
    height: 72px;
    background-color: #f6f6f6;
  }
  .dropdown__icon:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .collapse--display {
    display: block !important;
    height: auto !important;
    padding: 0;
    overflow: visible !important;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__item {
    padding: 30px 5px;
  }
  .navbar__link {
    font: 700 11px/13px "Leto Sans", sans-serif;
  }

  .btn-bank {
    padding: 10px 20px;
    font: 700 11px/13px "Leto Sans", sans-serif;
  }

  .dropdown__toggle {
    margin-top: 17px;
  }
}
@media only screen and (min-width: 960px) {
  .navbar__item {
    padding: 34px 5px;
  }
  .navbar__link {
    font: 700 16px/18px "Leto Sans", sans-serif;
  }

  .logo {
    width: 236px;
    height: 89px;
    background: transparent url(../img/logo/logo.jpg) no-repeat scroll 0 0;
  }

  .btn-bank {
    padding: 15px 30px;
    font: 700 16px/18px "Leto Sans", sans-serif;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar {
    padding-right: 20px;
  }
}
/* ---------------------------------------- */
/* S L I D E R    S T Y L E S               */
/* ---------------------------------------- */
.slider__item {
  padding: 40px 0 0;
}
.slider__item--1 {
  background: url(../img/sliderbg1-320.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
.slider__item--2 {
  background: url(../img/sliderbg2-320.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
.slider__item--3 {
  background: url(../img/sliderbg3-320.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
.slider__heading {
  color: #fff;
  font: 400 29px/36px "ProximaNova-Bold", sans-serif;
  margin: 0 0 25px;
}
.slider__subheading {
  color: #fff;
  font: 400 12px/14px sans-serif;
  margin: 0 0 20px;
}
.slider__btn {
  display: inline-block;
  position: relative;
  color: #fff;
  font: 700 13px/14px sans-serif;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 15px 16px;
  z-index: 10;
  overflow: hidden;
  margin-bottom: 110px;
}
.slider__btn:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -105%;
  height: 100%;
  width: 100%;
  background-color: #ac183c;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slider__btn:hover, .slider__btn:focus, .slider__btn:visited {
  text-decoration: none;
  color: #fff;
}
.slider__btn:hover:before, .slider__btn:focus:before, .slider__btn:visited:before {
  top: 0;
}
.slider__container {
  height: 0;
}
.slider__markers .slick-dots {
  display: inline-block !important;
  width: auto;
  bottom: 20px;
}
.slider__markers .slick-dots li {
  height: auto;
  width: auto;
}
.slider__markers .slick-dots li button {
  height: 3px;
  width: 25px;
  background-color: #000;
  padding: 0;
}
.slider__markers .slick-dots li button:before {
  content: none;
}
.slider__markers .slick-active button {
  background-color: #ac183c !important;
}

@media only screen and (min-width: 768px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__item {
    padding: 80px 0 0;
  }
  .slider__item--1 {
    background: url(../img/sliderbg1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
  .slider__item--2 {
    background: url(../img/sliderbg1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
  .slider__item--3 {
    background: url(../img/sliderbg1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
  .slider__heading {
    font: 400 47px/54px "ProximaNova-Bold", sans-serif;
    margin-bottom: 35px;
  }
  .slider__subheading {
    font: 400 14px/20px sans-serif;
    margin-bottom: 50px;
  }
  .slider__btn {
    padding: 18px 40px;
    letter-spacing: 1px;
    margin-bottom: 85px;
  }
  .slider__markers .slick-dots {
    bottom: 40px;
  }
}
@media only screen and (min-width: 960px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__heading {
    font: 400 60px/66px "ProximaNova-Bold", sans-serif;
  }
  .slider__subheading {
    font: 400 14px/26px sans-serif;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__heading {
    font: 400 69px/72px "ProximaNova-Bold", sans-serif;
  }
  .slider__subheading {
    font: 400 17px/26px sans-serif;
    margin-bottom: 90px;
  }
}
/* -------------------------------------------- */
/* S E C T I O N    S E R V I C E    S T Y L E  */
/* -------------------------------------------- */
.product {
  margin: 5px 0;
  padding: 20px;
  height: 100%;
  -webkit-box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
}
.product__photo {
  position: relative;
  height: 160px;
}
.product__icon:before {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 40px;
}
.product__heading {
  margin: 0 0 30px;
  font: 400 24px/26px "MullerExtraBold", sans-serif;
  color: #ac183c;
}
.product__descr {
  font: 400 14px/16px "MullerMedium", sans-serif;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.layer__icon {
  color: #ac183c;
}
.layer__icon--plus {
  font-size: 8px;
}
.layer__icon--circle {
  font-size: 11px;
}

@media only screen and (min-width: 768px) {
  .service__heading {
    padding: 35px 0 10px;
    margin-bottom: 35px;
  }
  .service__title {
    font: 400 39px/40px "MullerExtraBold", sans-serif;
  }

  /* ---------------------------------------- */
  /* F O O T E R    S T Y L E S               */
  /* ---------------------------------------- */
  .footer__heading {
    font: 400 14px/16px "Leto Sans", sans-serif;
  }
}
@media only screen and (min-width: 960px) {
  /* ---------------------------------------- */
  /* F O O T E R    S T Y L E S               */
  /* ---------------------------------------- */
  .footer__heading {
    font: 400 16px/18px "Leto Sans", sans-serif;
  }
}
