@charset "UTF-8";
/* fonts */
/* navbar */
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* S L I C K    S L I D E R    S T Y L E    */
/* ---------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* -------------------------------------------------- */
/* S L I C K - S L I D E R    T H E M E    S T Y L E  */
/* -------------------------------------------------- */
.slick-loading .slick-list {
  background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../../fonts/slick.eot');
  src: url('../../fonts/slick.eot?#iefix') format("embedded-opentype"), url('../../fonts/slick.woff') format("woff"), url('../../fonts/slick.ttf') format("truetype"), url('../../fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../font/ProximaNova-Bold/ProximaNova-Bold.eot");
  src: url("../font/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Bold/ProximaNova-Bold.woff2") format("woff2"), url("../font/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../font/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-ExtraBold";
  src: url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot");
  src: url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff2") format("woff2"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.woff") format("woff"), url("../font/ProximaNova-ExtraBold/ProximaNova-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../font/ProximaNova-Light/ProximaNova-Light.eot");
  src: url("../font/ProximaNova-Light/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Light/ProximaNova-Light.woff2") format("woff2"), url("../font/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../font/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../font/ProximaNova-Regular/ProximaNova-Regular.eot");
  src: url("../font/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/ProximaNova-Regular/ProximaNova-Regular.woff2") format("woff2"), url("../font/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../font/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.text-danger {
  color: #e74c3c;
  text-align: left;
}

.btn-bank {
  padding: 0 30px;
  background-color: #b4243b;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  font: 700 16px/18px sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-bank:hover, .btn-bank:focus {
  color: #fff;
  text-decoration: none;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* -------------------------------------------- */
/* S E C T I O N    N A V B A R    S T Y L E S  */
/* -------------------------------------------- */
.navbar {
  border: 0 none;
  -webkit-box-shadow: 20px 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 20px 0 50px rgba(0, 0, 0, 0.08);
}
.navbar__container {
  padding-left: 0;
  padding-right: 0;
}
.navbar__item {
  padding: 35px 0;
}
.navbar__link {
  font: 700 16px/18px "Leto Sans", sans-serif;
  color: #282828;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar__link:hover, .navbar__link:focus {
  color: #b01641;
  text-decoration: none;
}

.dropdown-toggle {
  margin-top: 17px;
}

@media only screen and (min-width: 1200px) {
  .navbar {
    padding-right: 20px;
  }
}
.logo {
  position: relative;
  display: block;
  width: 236px;
  height: 89px;
  background: transparent url(../img/logo/logo.jpg) no-repeat scroll 0 0;
  background-size: contain;
  text-align: center;
}
.logo__descr {
  position: absolute;
  display: inline-block;
  margin-top: 55px;
  top: 0;
  left: 0;
  right: 0;
  font: 500 6px/8px "Geometria", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.caret {
  border-top: 7px dashed;
  border-top: 7px solid \9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* ---------------------------------------- */
/* S L I D E R    S T Y L E S               */
/* ---------------------------------------- */
.slider__item {
  padding: 40px 0 0;
}
.slider__item--1 {
  background: url(../img/sliderbg1-320.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
.slider__heading {
  color: #fff;
  font: 400 29px/36px "ProximaNova-Bold", sans-serif;
  margin: 0 0 25px;
}
.slider__subheading {
  color: #fff;
  font: 400 12px/14px sans-serif;
  margin: 0 0 20px;
}
.slider__btn {
  display: inline-block;
  position: relative;
  color: #fff;
  font: 700 13px/14px sans-serif;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 15px 16px;
  z-index: 10;
  overflow: hidden;
  margin-bottom: 110px;
}
.slider__btn:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -105%;
  height: 100%;
  width: 100%;
  background-color: #ac183c;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slider__btn:hover, .slider__btn:focus, .slider__btn:visited {
  text-decoration: none;
  color: #fff;
}
.slider__btn:hover:before, .slider__btn:focus:before, .slider__btn:visited:before {
  top: 0;
}
.slider__container {
  height: 0;
}
.slider__markers .slick-dots {
  display: inline-block !important;
  width: auto;
  bottom: 20px;
}
.slider__markers .slick-dots li {
  height: auto;
  width: auto;
}
.slider__markers .slick-dots li button {
  height: 3px;
  width: 25px;
  background-color: #000;
  padding: 0;
}
.slider__markers .slick-dots li button:before {
  content: none;
}
.slider__markers .slick-active button {
  background-color: #ac183c !important;
}

@media only screen and (max-width: 767px) {
  .collapse--display {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow: visible !important;
  }
}
@media only screen and (min-width: 768px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__item {
    padding: 80px 0 0;
  }
  .slider__item--1 {
    background: url(../img/sliderbg1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
  .slider__item--2 {
    background: url(../img/sliderbg1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
  .slider__item--3 {
    background: url(../img/sliderbg1.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
  }
  .slider__heading {
    font: 400 47px/54px "ProximaNova-Bold", sans-serif;
    margin-bottom: 35px;
  }
  .slider__subheading {
    font: 400 14px/20px sans-serif;
    margin-bottom: 50px;
  }
  .slider__btn {
    padding: 18px 40px;
    letter-spacing: 1px;
    margin-bottom: 85px;
  }
  .slider__markers .slick-dots {
    bottom: 40px;
  }
}
@media only screen and (min-width: 960px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__heading {
    font: 400 60px/66px "ProximaNova-Bold", sans-serif;
  }
  .slider__subheading {
    font: 400 14px/26px sans-serif;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  /* ---------------------------------------- */
  /* S L I D E R    S T Y L E S               */
  /* ---------------------------------------- */
  .slider__heading {
    font: 400 69px/72px "ProximaNova-Bold", sans-serif;
  }
  .slider__subheading {
    font: 400 17px/26px sans-serif;
    margin-bottom: 90px;
  }
}
