/* fonts */
$font-leto: 'Leto Sans', sans-serif
$font-pb: 'ProximaNova-Bold', sans-serif
$font-pex: 'ProximaNova-ExtraBold', sans-serif
$font-pl: 'ProximaNova-Light', sans-serif
$font-pr: 'ProximaNova-Regular', sans-serif

/* navbar */
$nav-link-color: #282828
$nav-link-color-hover: #b01641
