+comment('general style')
+font('ProximaNova-Bold', 'ProximaNova-Bold')
+font('ProximaNova-ExtraBold', 'ProximaNova-ExtraBold')
+font('ProximaNova-Light', 'ProximaNova-Light')
+font('ProximaNova-Regular', 'ProximaNova-Regular')
+ic
.text-danger
  color: #e74c3c
  text-align: left
.btn-bank
  padding: 0 30px
  background-color: #b4243b
  +br(23px)
  font: 700 16px/18px sans-serif
  color: #fff
  text-transform: uppercase
  transition: all .3s ease-out
  &:hover,
  &:focus
    color: #fff
    text-decoration: none
+comment("home page style")
+comment('section navbar styles')
.navbar
  margin: 0
  border: 0 none
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.08)
  &__container
    padding-left: 0
    padding-right: 0
  &__item
    padding: 35px 0
  &__link
    font: 700 16px/18px $font-leto
    color: $nav-link-color
    text-transform: uppercase
    text-decoration: none
    transition: all .3s ease-out
    &:hover,
    &:focus
      color: $nav-link-color-hover
      text-decoration: none
.dropdown-toggle
  margin-top: 17px
+r(1200)
  .navbar
    padding-right: 20px
.logo
  position: relative
  display: block
  width: 236px
  height: 89px
  background: transparent url(../img/logo/logo.jpg) no-repeat scroll 0 0
  background-size: contain
  text-align: center
  &__descr
    position: absolute
    display: inline-block
    margin-top: 55px
    top: 0
    left: 0
    right: 0
    font: 500 6px/8px $font-geometria
    color: #fff
    text-transform: uppercase
.caret
  border-top: 7px dashed
  border-top: 7px solid \9
  border-right: 5px solid transparent
  border-left: 5px solid transparent
+comment('slider styles')   
.slider
  &__item
    padding: 40px 0 0
    &--1
      background: url(../img/sliderbg1-320.jpg) no-repeat
      +cover(50% 0)
  &__heading
    color: #fff
    font: 400 29px/36px $font-pb 
    margin: 0 0 25px
  &__subheading
    color: #fff
    font: 400 12px/14px sans-serif
    margin: 0 0 20px
  &__btn  
    display: inline-block
    position: relative
    color: #fff
    font: 700 13px/14px sans-serif
    text-transform: uppercase
    border: 3px solid #fff
    padding: 15px 16px
    z-index: 10
    overflow: hidden
    margin-bottom: 110px
    &:before
      content: ''
      display: block
      position: absolute
      z-index: -1
      left: 0
      top: -105%
      height: 100%
      width: 100%
      background-color: #ac183c
      transition: all 0.2s ease
    &:hover,
    &:focus,
    &:visited
      text-decoration: none
      color: #fff
      &:before
        top: 0
  &__container
    height: 0      
  &__markers          
    .slick
      &-dots
        display: inline-block !important
        width: auto
        bottom: 20px
        li
          height: auto
          width: auto
          button
            height: 3px
            width: 25px
            background-color: #000
            padding: 0
            &:before
              content: none  
      &-active
        button
          background-color: #ac183c !important   
+rx(767)
  .collapse
    &--display
      display: block !important
      height: auto !important
      padding-bottom: 0px
      overflow: visible !important
+r(768)
  +comment('slider styles') 
  .slider
    &__item
      padding: 80px 0 0
      &--1
        background: url(../img/sliderbg1.jpg) no-repeat
        +cover(50% 0)
      &--2  
        background: url(../img/sliderbg1.jpg) no-repeat
        +cover(50% 0)
      &--3
        background: url(../img/sliderbg1.jpg) no-repeat
        +cover(50% 0)  
    &__heading
      font: 400 47px/54px $font-pb 
      margin-bottom: 35px
    &__subheading
      font: 400 14px/20px sans-serif
      margin-bottom: 50px
    &__btn
      padding: 18px 40px 
      letter-spacing: 1px 
      margin-bottom: 85px  
    &__markers
      .slick
        &-dots
          bottom: 40px
+r(960)
  +comment('slider styles') 
  .slider
    &__heading
      font: 400 60px/66px $font-pb 
    &__subheading
      font: 400 14px/26px sans-serif
      margin-bottom: 40px
+r(1200)      
  +comment('slider styles') 
  .slider
    &__heading
      font: 400 69px/72px $font-pb 
    &__subheading
      font: 400 17px/26px sans-serif
      margin-bottom: 90px